<!-- Modal Editar -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Edição</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form action="/update" method="PUT">
					<div class="form-group">
						<label for="title">Título</label>
						<input id="title" class="form-control" type="text">
					</div>
					<div class="form-group">
						<label for="author">Autor</label>
						<input id="author" class="form-control" type="text">
					</div>
					<div class="form-group">
						<label for="price">Preço</label>
						<input id="price" class="form-control" type="text">
					</div>
					<div class="form-group">
						<label for="stock">Estoque</label>
						<input id="stock" class="form-control" type="text">
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button id="edit" data-id="0" onclick="editarLivro()" type="button"
					class="btn btn-primary">Salvar</button>
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
			</div>
		</div>
	</div>
</div>
<!-- Modal Inserção -->
<div class="modal fade" id="modalInsert" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Insira um livro ao banco</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form>
					<div class="form-group">
						<label for="title">Título</label>
						<input id="title2" class="form-control" type="text">
					</div>
					<div class="form-group">
						<label for="author">Autor</label>
						<input id="author2" class="form-control" type="text">
					</div>
					<div class="form-group">
						<label for="price">Preço</label>
						<input id="price2" class="form-control" type="text">
					</div>
					<div class="form-group">
						<label for="stock">Estoque</label>
						<input id="stock2" class="form-control" type="text">
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button id="insert" onclick="inserirLivro()" type="button" class="btn btn-success">Salvar</button>
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
			</div>
		</div>
	</div>
</div>
</div>